<div class="button-session-details"
     data-component="button-session-details-<%= session.sessionId %>">
  <a class="button-session-details__link"
     data-element="button-session-details__link"
     href="<%= paths.publicPathBackEnd %>/public-sessions/<%= session.sessionId %>">
  </a>
  <button class="button-session-details__button button button-default"
          data-element="button-session-details__button"
          type="button">
    Подробнее
  </button>
</div>
