<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Goask</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="<%=paths.publicPathFrontEnd%>/js/registrationSpeaker.js" type="text/javascript" defer></script>
	<link rel="stylesheet" href="<%=paths.publicPathFrontEnd%>/css/registrationSpeaker.css">
</head>
<body>
	<div class="page"
	     data-component="page">
	  <div class="page__container">
			<div class="page__header-container"
			     data-element="page__header-container">
				<% include ../header %>
			</div>
			<main class="page__main-container"
		        data-element="page__main-container">
		  </main>
	  </div>
	</div>
</body>
</html>
