<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="<%=paths.publicPathFrontEnd%>/js/mySessions.js" type="text/javascript" defer></script>
	<link rel="stylesheet" href="<%=paths.publicPathFrontEnd%>/css/mySessions.css">
</head>
<body>
	<div class="page"
     	 data-component="page">
		<div class="page__header-container"
 		     data-element="page__header-container">
 			<% include ../header %>
 		</div>

		<main class="page__main-container"
	        data-element="page__main-container">

			<section class="page__main-block-container"
			         data-element="page__main-block-container">
				<% include ../main-block %>
			</section>

			<section class="page__my-sessions-container"
							 data-element="page__my-sessions-container"
							 data-speakerId="<%=speakerId%>">
			</section>
	  </main>
	</div>

</body>
</html>
