<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Goask admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="<%=paths.publicPathFrontEnd%>/js/admin.js" type="text/javascript" defer></script>
	<link rel="stylesheet" href="<%=paths.publicPathFrontEnd%>/css/admin.css">
</head>
<body>

</body>
</html>
