<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Goask</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="<%=publicPathFrontEnd%>/js/createSpeaker.js" type="text/javascript" defer></script>
</head>
<body>
	<div class="page"
	     data-component="page">
	  <div class="page__container">
			<% include header %>
			<main class="page__main-container"
		        data-element="page__main-container">
		  </main>
	  </div>
	</div>
</body>
</html>
