<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Goask</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <script src="http://localhost:8080/login.js" type="text/javascript" defer></script> -->
</head>
<body>
	<% include header %>

	<!-- <div class="page">

		<header class="header">
			<div class="header">
				<div class="header__container">
					<div class="logo">
						<a href="/index.html">
							<img src="img/logo.png" alt="">
						</a>
					</div>
					<nav>
						<ul>
							<li><a href="/index.html">Стать Спикером</a></li>
						</ul>
					</nav>
					<div class="col-md-3">
						<div class="right-bar">
							<a href="http://localhost:3000/login" class="header__login">Вход</a>
						</div>
					</div>
				</div>
			</div>
		</header>

		<main>

		<section class="main__block">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Наши специалисты ответят на Ваши вопросы</h1>
						<p>более 1000 специлистов всех направлений и уровней</p>
					</div>
				</div>
			</div>
		</section>

		<section class="main__categories">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="category-block">
							<h3><a href="http://localhost:3000/category/handyman">Домашний мастер</a><img src="img/icons-categories/home-master.png" alt=""></h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="category-block">
							<h3><a href="http://localhost:3000/category/interior-set-up">Отделочные работы</a><img src="img/icons-categories/visual-work.png" alt=""></h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="category-block">
							<h3><a href="http://localhost:3000/category/cleaning-service">Клининговые услуги</a><img src="img/icons-categories/clean servise.png" alt=""></h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="category-block">
							<h3><a href="http://localhost:3000/category/delivery-service">Курьерские услуги</a><img src="img/icons-categories/courier.png" alt=""></h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="category-block">
							<h3><a href="http://localhost:3000/category/Construction-work">Строительные работы</a><img src="img/icons-categories/building-works.png" alt=""></h3>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
						<div class="category-block">
							<h3><a href="http://localhost:3000/category/repair-electronics">Ремонт техники</a><img src="img/icons-categories/tech-repair.png" alt=""></h3>
						</div>
					</div>
			</div>
		</section>
		</main>

	</div> -->
</body>
</html>
