<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="<%=publicPathFrontEnd%>/js/mySessions.js" type="text/javascript" defer></script>
	<link rel="stylesheet" href="<%=publicPathFrontEnd%>/css/mySessions.css">
</head>
<body>
	<div class="page"
     data-component="page">
		<% include header %>
		<main class="page__main-container"
	        data-element="page__main-container">

			<section class="page__main-section-container"
							 data-element="page__main-section-container">
				<div class="main-section"
						 data-component="main-section">
					 <% if (userName) { %>
	          <div class="main-section__user-name"
								 data-element="main-section__user-name">
	          	Вы вошли как <%=userName%>
	          </div>
	         <% } %>
					<div class="main-section__describe-container"
							 data-element="main-section__describe-container">
						<h1 class="main-section__describe-header"
								data-element="main-section__describe-header">
							Наши специалисты ответят на Ваши вопросы
						</h1>
						<p class="main-section__describe"
							 data-element="main-section__describe">
							более 1000 специлистов всех направлений и уровней
						</p>
					</div>
				</div>
				<% if (userNavigationButtons) { %>
					<% include user-navigation %>
				<% } %>
			</section>

			<section class="page__my-sessions-container"
							 data-element="page__my-sessions-container"
							 data-speakerId="<%=speakerId%>">
			</section>
	  </main>
	</div>

</body>
</html>
